.main-header {
    grid-template: auto / auto 1fr auto;
    grid-template-areas: "logo search user";
}
main {
    grid-template: auto / minmax(auto, 100px) 1fr;
    grid-template-areas: "header header"
                         "nav contenido";
}
.post-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 20px;
}
.post-container a figcaption p:nth-of-type(1){
    font-size: 3rem;
}
.post-container a figcaption p:nth-of-type(2){
    font-size: 2rem;
}